project/Projet/HeavyClient/Connected Services/RoutingWithBikesLibrary/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WebProxy" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebProxy" minOccurs="0" name="GetAllStationsResult" nillable="true" type="q1:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:float" />
        <xs:element minOccurs="0" name="longitude" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebProxy" minOccurs="0" name="GetNearestStationResult" nillable="true" type="q2:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStationWithBikes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:float" />
        <xs:element minOccurs="0" name="longitude" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStationWithBikesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebProxy" minOccurs="0" name="GetNearestStationWithBikesResult" nillable="true" type="q3:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStationWithStands">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:float" />
        <xs:element minOccurs="0" name="longitude" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStationWithStandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebProxy" minOccurs="0" name="GetNearestStationWithStandsResult" nillable="true" type="q4:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Slatitude" type="xs:float" />
        <xs:element minOccurs="0" name="Slongitude" type="xs:float" />
        <xs:element minOccurs="0" name="Elatitude" type="xs:float" />
        <xs:element minOccurs="0" name="Elongitude" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebProxy" minOccurs="0" name="GetPathResult" nillable="true" type="q5:ArrayOfPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathDirections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Slatitude" type="xs:float" />
        <xs:element minOccurs="0" name="Slongitude" type="xs:float" />
        <xs:element minOccurs="0" name="Elatitude" type="xs:float" />
        <xs:element minOccurs="0" name="Elongitude" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathDirectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPathDirectionsResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Slatitude" type="xs:float" />
        <xs:element minOccurs="0" name="Slongitude" type="xs:float" />
        <xs:element minOccurs="0" name="Elatitude" type="xs:float" />
        <xs:element minOccurs="0" name="Elongitude" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebProxy" minOccurs="0" name="GetFullPathResult" nillable="true" type="q7:ArrayOfArrayOfPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullDirections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Slatitude" type="xs:float" />
        <xs:element minOccurs="0" name="Slongitude" type="xs:float" />
        <xs:element minOccurs="0" name="Elatitude" type="xs:float" />
        <xs:element minOccurs="0" name="Elongitude" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullDirectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFullDirectionsResult" nillable="true" type="q8:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>